*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F1F7EE;
    display: grid;
    grid-template-rows: 1fr 80% 1fr;
    grid-template-areas: 
    "nav"
    "main"
    "footer" ;
    
}
nav{
    grid-area: nav;
    background-color: #B0BEA9;
}
main{
    grid-area: main;
    background-color: #F1F7EE;
}
footer{
    grid-area: footer;
    background-color: #B0BEA9;
}
/* menu Mobile */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #45553a;

}
.nav .logo_mobile{
    max-width: 130px;
}
.nav .logo_desktop{
    display: none;
}
.nav ul{
    display: none;
}
.nav .menu-icon{
    font-size: 2rem;
}
.main{

}
.main .contenedor_tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.main .contenedor_tarjetas .contenedor_card{
    background-color: #ffffff;
    border: solid 1px #eeeeee;
    margin: 20px 0;
    width: 220px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 14px 16px 35px -23px rgba(0,0,0,0.45);
    -moz-box-shadow: 14px 16px 35px -23px rgba(0,0,0,0.45);
    box-shadow: 14px 16px 35px -23px rgba(0,0,0,0.45);
}
.main .contenedor_tarjetas .contenedor_card img{
    width: 180px;
}
.main .contenedor_tarjetas .contenedor_card .info_card{
    background-color: #f8f8f8;
    width: 100%;
    padding: 0 10px 15px 10px;
    text-align: center;
    border-radius: 30px 30px 15px 15px;
    position: relative; 
}
.main .contenedor_tarjetas .contenedor_card .info_card .btn_comprar{
    position: absolute;
    width: 200px;
    bottom: -13px;
}
.main .contenedor_tarjetas .contenedor_card .info_card .btn_comprar span{
    background-color: #92AA83;
    color: #ffffff;
    border-radius: 30px;
    padding: 10px 30px;
}
.main .contenedor_tarjetas .contenedor_card .info_card .valoracion{
    display: flex;
    justify-content: center;
    margin: 10px 0 9px 0;
}
.main .contenedor_tarjetas .contenedor_card .info_card .valoracion .star-icon{
    color: #ffe434;
    margin: 0 3px;
    font-size: .85rem;
}
.main .contenedor_tarjetas .contenedor_card .info_card h2{
    font-weight: 400;
    font-size: .9rem;
}
.main .contenedor_tarjetas .contenedor_card .info_card .precio{
    font-weight: 900;
    font-size: 1.4rem;
    letter-spacing: 1px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.footer p{
    margin: 0;
    padding: 0;
    color: #45553a;
}
.footer .redes_sociales a{
    color: #45553a; 
}
@media (min-width: 576px) {
    body{
        display: grid;
        grid-template-columns: 15% 85%;
        grid-template-rows: 90% 1fr;
        grid-template-areas: 
        "nav main"
        "footer main" ;
        height: 100vh;
    }
    /* Menu desktop */
    .nav{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 20px 10px 0 20px;
        border-radius: 10px 10px 0 0;
    }
    .nav .logo_mobile{
        display: none;
    }
    .nav .logo_desktop{
        display: inline-block;
        text-align: center;
        height: 20%;
    }
    .nav .logo_desktop .logo{
        max-width: 130px;
    }
    .nav .zapatilla_logo{
        margin-bottom: 20px;
        animation: mover 1.4s infinite;
        animation-direction: alternate;
    }
    
    @keyframes mover{
        from {
            transform: translateY(0);
            }
            to {
            transform: translateY(20px);
            }
    }
    .nav .contenedor_menu{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
    }
    .nav ul{
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .nav ul li {
        color: #ffffff;
        background-color: #92AA83;
        padding: 7px 35px;
        margin: 10px 0;
        border-radius: 30px;
        cursor: pointer;
    }
    .nav ul li:hover {
        background-color: #E0EDC5;
        color: #45553a;
    }
    .nav ul li .icon_menu{
        margin-right: 10px;
    }
    .nav .menu-icon{
        display: none;
    }
    .main .contenedor_main{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
    .main .contenedor_main p{
        color: #777777;
        width: 70%;
    }
    .main .contenedor_tarjetas{
        justify-content: flex-start;   
    }
    .main .contenedor_tarjetas .contenedor_card{
        margin: 10px 30px 40px 0;   
        transition: transform 1s;
        cursor: pointer;
    }
    .main .contenedor_tarjetas .contenedor_card:hover{
        transform: scale(1.1);
    }
    .main .contenedor_tarjetas .contenedor_card .info_card{
        position: relative;  
        text-align: center;  
        padding: 0 10px 20px 10px;    
    }
    .main .contenedor_tarjetas .contenedor_card .info_card .btn_comprar{
        position: absolute;
        width: 200px;
        bottom: -13px;
    }
    .main .contenedor_tarjetas .contenedor_card .info_card .btn_comprar span{
        background-color: #92AA83;
        color: #ffffff;
        border-radius: 30px;
        padding: 10px 30px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        margin: 0 10px 20px 20px;
        border-radius: 0 0 10px 10px ;
    }
    .footer .redes_sociales a{
        color: #45553a; 
    }
}